body {
    background-color: #04030D;
    color:#6E64AE;
    text-align: center;
          }
h2 {
    color:#6E64AE;
    
}
h1, h3 {
    
    color:#8D7DF0;
}

hr {
    border-color: #8D7DF0;
    border-style: solid none none none;
    height:0px;
    border-width: 2px;
    
          }
.nav {
    border-color: #8D7DF0;
    border-style: solid;
    height:0px;
    border-width: 2px;
    border-radius: 20%;
    color: #483d8b;
    font-size: 200%;
    padding: 30px;
    
          }
table {
    margin-left: auto;
    margin-right: auto;
}
.displaybox {
    border-color:#8D7DF0;
    border-style: solid;
    
    height:0px;
    border-width: 2px;
    
    text-align: center;
    
    
    padding: 5% 5% 5% 5%;
}
          
.icon {
    width:300px;
    height: 300px;
    object-fit:cover;
    border-radius: 20%;
    border-color:#8D7DF0;
    border-style: solid;
          }
.video {
    width:300px;
    height: 300px;
    object-fit:cover;
    
    border-color:#8D7DF0;
    border-style: solid;
          }

.logo {
    width:200px;
    height: 200px;
    object-fit:cover;
    
    border-color:#8D7DF0;
    border-style: solid;
          }
.rounded {
    border-radius: 50%;
          }
#comment?